.block-buttons-stavki {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 25px;
    margin-left: 40%;
}
.table-image {
    margin-top: 20px;
    position: relative;
    z-index: 6;
}
