.block-buttons-stavki {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
}
.table-image {
    margin-top: 20px;
    position: relative;
    z-index: 6;
}

.button-stavki {
    width: 300px;
    height: 55px;
    border: none;
    background-size: cover;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
