.box {
    border-radius: 10px;
    box-shadow: 0px 0px 40px -20px var(--grayishBlue);
    padding: 15px 30px;
    margin: 20px 0;
    text-align: left;
}

.red {
    border-left: 10px solid #C8372D;
}
.orange {
    border-left: 10px solid #c4830c;
}
.yellow {
    border-left: 10px solid #D1941A;
}
.green {
    border-left: 10px solid #008000;
}
.blue {
    border-left: 10px solid #236bd6;
}
.purple {
    border-left: 10px solid #800080;
}
.gray {
    border-left: 10px solid #808080;
}
.brown {
    border-left: 10px solid #a52a2a;
}
.pink {
    border-left: 10px solid #ffc0cb;
}
.default {
    border-left: 10px solid #808080;
}

.post_title {
    font-size: 20px;
}

.subscribe {
    font-size: 16px;
    color: #9590A0;
}

.image_comp {
    padding-right: 5px;
}

.col_span {
    background: #828282;
    border-radius: 99px;
    margin: 0 1px 0 3px;
    padding: 2px 8px;
    font-size: 10px;
}

.find_span {
    background: #D1941A;
    font-size: 10px;
    margin: 8px 0;
    padding: 6px 35px;
}

.nofind_span {
    background: transition; 
    font-size: 10px;
    margin: 8px 0;
    padding: 6px 35px;
}