.mySelect {
    position: relative;
    min-width: 265px;
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    border: 2px solid #ECFF76;
    border-radius: 10px;
    background: #2A2731;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    color: #ECFF76;
}