/* .input-style {
    margin: 0;
    width: 25px;
    height: 25px;
    accent-color: #fff;
} */

input[id="cb1"] + label {
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 2px solid #bcbcbc;
    border-radius: 4px;
    cursor: pointer;
}

input[id="cb1"]:checked + label:after {
    position: relative;
    top: -4px;
    left: -3px;
    content: '\2714';
    font-size: 14px;
}

input[id="cb1"] {
    display: none;
}

.block-buttons-profile {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


.form-profile {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
}
    
.bullet li {
    position: relative;
    /* margin-bottom: 1.5em;
    border: 2px solid #405fe9;
    padding-top: 1.3em;
    padding-left: 0.6em;
    border-radius: 10px;
    background-color: #2A2731;
    color: #ffffff; */
    /* font-family: "Trebuchet MS", "Lucida Sans"; */
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    /* height: calc(3.5rem + 2px); */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 15px;
}
    
.bullet-title {
    /* position: absolute;
    top: 0.2em;
    font-size: 12px;
    font-weight: 400;
    color: #5372ff; */
    text-align: left;
    color: #9590a0;
}

.spec li{
    float: right;
    margin-bottom: 3px;
    margin-left: 30%;
}

.table-noborder tr > :first-child {
    box-shadow: none;
    background: transparent;
}

.table-noborder td {
    border: 0px;
    float: right;
    padding: 0;
}