.input-style {
    margin: 0;
    width: auto;
    height: auto;
}

.block-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.form-profile {
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
}

.bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
}
    
.bullet li {
    position: relative;
    /* margin-bottom: 1.5em;
    border: 2px solid #405fe9;
    padding-top: 1.3em;
    padding-left: 0.6em;
    border-radius: 10px;
    background-color: #2A2731;
    color: #ffffff; */
    /* font-family: "Trebuchet MS", "Lucida Sans"; */
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    /* height: calc(3.5rem + 2px); */
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
    
.bullet-title {
    /* position: absolute;
    top: 0.2em;
    font-size: 12px;
    font-weight: 400;
    color: #5372ff; */
    text-align: left;
    color: #9590a0;
}

.spec li{
    float: right;
    margin-bottom: 3px;
    margin-left: 30%;
}

.table-noborder tr > :first-child {
    box-shadow: none;
    background: transparent;
}

.table-noborder td {
    border: 0px;
    float: right;
    padding: 0;
}