.block-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.form-wraper {
    margin-top: 150px;
    position: relative;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-new-worker1 {
    width: 400px;
    height: 300px;
    border: none;
    background-size: cover;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    position: relative;
    z-index: 5;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.image-button-add {
    width: 200px;
    height: 36px;
    border: none;
    background-size: cover;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;

    position: relative;
    z-index: 15;
    margin-top: 50px;
    margin-left: 102px;
}

.image-button-next {
    width: 100px;
    height: 40px;
    border: none;
    background-size: cover;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 25px; 
    margin-left: 15px;
    margin-right: 15px;
}

.select-style {
    width: 270px;
    margin: 0 0;
    border: none;
    height: 38px;
    background-color: transparent;
    margin-top: 70px;
    padding: 0 10px;
    color: #fff;
}
