.form-smeta {
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}

.block2 {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 7;
  margin: 20px 10px;
}

.block-smeta {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 25px;
    width: 100%;
    z-index: 3;
    /* background-color: #161616; */
}


/* default styling. Nothing to do with freexing first row and column */
.unfixed-table {
    /* background: #000000; */
}

main {display: flex;}
main > * {border: 1px solid;}
table {
    border-collapse: collapse; 
    font-size: 14px;
    font-family: helvetica;
    width: 100%;
    /* background: #000000; */
    z-index: 5;
    position: relative;
}

td, th {border:  1px solid #e2ff7a;
      padding: 0 10px;
      min-width: 70px;
      /* background: black; */
      box-sizing: border-box;
      text-align: center;
}
.table-container {
  position: relative;
  max-height:  700px;
  width: 360px;
  overflow: scroll;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  /* background: #212929; */
  color: #808080;
  text-align: center;
  font-weight: 400;
}

thead th:first-child {
  left: 0;
  z-index: 3;
  text-align: center;
}

tbody {
  overflow: scroll;
  height: auto;
}

/* MAKE LEFT COLUMN FIXEZ */
tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  left: 0; 
}
