.block-info {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    background-color: #161616;
}

.menu-form {
    position: relative;
    z-index: 5;
    margin-top: 80px;
    margin-left: 25px;
    margin-right: 25px;
}