.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    left: 0;
    /* background-color: #121212; */
    z-index: 10;
}

.title {
    font-size: 20px;
}

.btn-close {
    margin-left: auto;
}

.username {
    margin-right: 10px;
}