.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title {
    font-size: 18px;
    margin-left: 5px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.045em;

    /* ULEY Светлый */
    color: #E8F1F9;
}

.btn-close {
    margin-left: auto;
}

.username {
    margin-right: 5px;
    /* Контакты */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    /* ULEY Светлый */
    color: #E8F1F9;

    opacity: 0.4;
}