.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.header-icon {
    width: 95px;
}

.title {
    font-size: 18px;
    margin-left: 5px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.045em;

    /* ULEY Светлый */
    color: #E8F1F9;
}

.btn-close {
    margin-left: auto;
}

.username {
    margin-right: 5px;
    /* Контакты */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    /* ULEY Светлый */
    color: #E8F1F9;

    opacity: 0.4;
}



/* Меню */
.menu-filter {
    position: absolute;
    width: 91px;
    height: 121px;
    right: 0px;
    top: 2px;
    z-index: 50;
}

/* Rectangle 14 */
.menu-rec {
    box-sizing: border-box;
    position: absolute;
    width: 91px;
    height: 121px;
    right: 19px;
    top: 0;

    background: rgba(50, 55, 61, 0.4);
    border: 1px solid rgba(37, 39, 42, 0.5);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    z-index: 9;
}

/* Vector */
.menu-icon-filter {
    position: relative;
    z-index: 10;
    margin-top: 5px;
    margin-left: 50px;
}

.item-filter {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.045em;

    /* ULEY Светлый */
    color: #E8F1F9;
    margin-bottom: 8px;
}

.text-filter {
    position: absolute;
    top: 25px;
    left: 15px;
    text-align: left;
}