.inputSpec {
    text-align: left;
}

.list_spec {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 15;
    margin-bottom: 10px;
}

.form-new-spec {
    width: 95%;
    height: 55px;
    background-size: cover;
    background-color: #2e2e2e;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-bottom: 2px; */
    padding-left: 70px;
    border-radius: 50px;
}