.inputSpec {
    text-align: left;
}

.list_spec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -95px;
    position: relative;
    z-index: 15;
}

.form-new-spec {
    width: 260px;
    height: 50px;
    border: none;
    background-size: cover;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}