  .form-smeta-page3 {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;

  }

  .block-buttons-page3 {
      margin-bottom: 30px;
  }

  .table-wrap::-webkit-scrollbar
  {
    height: 15px;
  }
  .table-wrap::-webkit-scrollbar-track
  {
      /* border-radius: 10px; */
      border-bottom-left-radius: 5px;
      background-color: #242424;
      webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  .table-wrap::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: #515250;
    webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  .table-scroll {
    position:relative;
    max-width:600px;
    margin:auto;
    overflow:hidden;
    /* border:2px solid #e2ff7a; */
  }
  .table-wrap {
    width:100%;
    overflow:auto;
  }

  .table-scroll table {
    width:100%;
    margin:auto;
    border-collapse:separate;
    border-spacing:0;
  }

  .table-scroll th, .table-scroll td {
    padding:5px 10px;
    /* border:1px solid #e2ff7a; */
    /* background:#000; */
    white-space:nowrap;
    vertical-align:middle;
  }

  .table-scroll thead, .table-scroll tfoot {
    /* background:#e2ff7a; */
  }

  .fixed-side {

  }

  /* .clone {
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
  }
  .clone th, .clone td {
    visibility:hidden
  }
  .clone td, .clone th {
    border-color:transparent
  }
  .clone tbody th {
    visibility:visible;
    color:red;
  }
  .clone .fixed-side {
    border:1px solid #000;
    background:#eee;
    visibility:visible;
  }
  .clone thead, .clone tfoot{background:transparent;} */


  :where(.main-table) {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
    width: 99.9%;
  }
  
  :where(.main-table thead th) {
    /* background-color: #494747; */
    border-style: solid;
    border-block-start-width: 1px;
    border-inline-end-width: 1px;
    border-block-end-width: 1px;
    border-inline-start-width: 1px;
    color: #494747;
    padding-block: 1.25ch;
    padding-inline: 2ch;
  }
  
  :where(.main-table td) {
    background-color: transparent;
    border-color: #494747;
    border-style: solid;
    border-block-start-width: 0;
    border-inline-end-width: 1px;
    border-block-end-width: 1px;
    border-inline-start-width: 0;
    padding-block: 1.25ch;
    padding-inline:	2ch;
  }
  
  /* Because of `border-collapse: separate`, we need to  */
  :where(.main-table tr td:first-of-type) {
    border-inline-start-width: 1px;
  }
  /* For header-cells, we set the `border-color` of the first and last border to it's `background-color` */
  :where(.main-table tr th:last-of-type) {
    border-inline-color: #494747;
  }
  :where(.main-table tr th:first-of-type) {
    border-inline-start-color: #494747;
  }
  /* Set `border-radius` on first and last rows, on first and last cell */
  :where(.main-table thead th:first-of-type) {
    border-start-start-radius: 0.5rem;
  }
  :where(.main-table thead th:last-of-type) {
    border-start-end-radius: 0.5rem;
  }
  :where(.main-table tbody tr:last-of-type td:first-of-type) {
    /* border-end-start-radius: 0.5rem; */
  }
  :where(.main-table tr:last-of-type td:last-of-type) {
    border-end-end-radius: 0.5rem;
  }
  
  .th-inline {
    border-inline-start-width: 0;
  }