/* .smeta-all-table {
    background: #000000;
}

.table1-container {
    position: relative;
    max-height:  700px;
    width: 100%;
    overflow: scroll;
}

thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    color: #808080;
    text-align: center;
    font-weight: 400;
  } */

  .table-scroll {
    position:relative;
    max-width:600px;
    margin:auto;
    overflow:hidden;
    border:2px solid #e2ff7a;
  }
  .table-wrap {
    width:100%;
    overflow:auto;
  }
  .table-scroll table {
    width:100%;
    margin:auto;
    border-collapse:separate;
    border-spacing:0;
  }
  .table-scroll th, .table-scroll td {
    padding:5px 10px;
    border:1px solid #e2ff7a;
    background:#000;
    white-space:nowrap;
    vertical-align:middle;
  }
  .table-scroll thead, .table-scroll tfoot {
    background:#e2ff7a;
  }
  .clone {
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
  }
  .clone th, .clone td {
    visibility:hidden
  }
  .clone td, .clone th {
    border-color:transparent
  }
  .clone tbody th {
    visibility:visible;
    color:red;
  }
  .clone .fixed-side {
    border:1px solid #000;
    background:#eee;
    visibility:visible;
  }
  .clone thead, .clone tfoot{background:transparent;}
