.buttons_status {
    margin: 10px 10px 20px 10px;
    text-align: left;
}

.btn-status {
    border-radius: 99px;
    color: #ffffff;
    padding: 4px;
    margin: 5px;
    width: 92px;
    font-size: 14px;
}

.red-btn {
    background: #C8372D;
    border: 1px solid #C8372D;
}
.orange-btn {
    background: #c4830c;
    border: 1px solid #c4830c;
}
.yellow-btn {
    background: #D1941A;
    border: 1px solid #D1941A;
}
.green-btn {
    background: #008000;
    border: 1px solid #008000;
}
.blue-btn {
    background: #236bd6;
    border: 1px solid #236bd6;
}
.purple-btn {
    background: #800080;
    border: 1px solid #800080;
}
.gray-btn {
    background: #808080;
    border: 1px solid #808080;
}
.brown-btn {
    background: #a52a2a;
    border: 1px solid #a52a2a;
}
.pink-btn {
    background: #ffc0cb;
    border: 1px solid #ffc0cb;
}