* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;

  display: flex;
  flex-direction: column;
  align-items: center;

  --color-field-border: #2e7cff;
  --color-field-label: #4a8dff;
  --color-label: #0863fd;
}

.App {
  width: 100%;
  font-family: Arial;
  text-align: center;
  position: relative;
}

.block-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.white-content {
  background: #e4e4e4;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  align-items: center;
}

.post__btns {
  display: flex;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.fon-style {
  width: 40%;
  opacity: 0.1;
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 1;
  height: 600px;
  object-fit: fill;
}

.fon-style2 {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0.3;
  height: 850px;
  margin-top: -100px;
}

.fon-style22 {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0.3;
  height: 850px;
  margin-top: -100px;
  animation: showBlock2 3s linear forwards;
  /* animation-delay: 1s; */
}

.fon-style3 {
  width: 280px; 
  position: relative;
  margin-top: 270px;
  animation: showBlock 6s linear forwards;
  animation-delay: 1s;
}

.fon-style4 {
  width: 150px;
  position: relative;
  margin-left: 125px;
  animation: showBlock 6s linear forwards;
  animation-delay: 1s;
}

.welcomStyle {
  margin: 20px 5px;
  display: flex;
  font-size: 26px;
  color: #ffffff;
  animation: showBlock 5s linear forwards;
  /* animation-delay: 1s; */
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showBlock2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}



.chevron {
  position: relative;
  right: 25px;
  bottom: -4px;
  stroke-width: 2px;
  stroke: #76A9FF;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.chevron2 {
  position: relative;
  right: 25px;
  bottom: -4px;
  stroke-width: 2px;
  stroke: #ECFF76;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.chevron3 {
  position: absolute;
  right: 10px;
  top: 3px;
  stroke-width: 2px;
  stroke: #76A9FF;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}