.block-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.form-new1 {
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 20px;
    position: relative;
    z-index: 6;
}

.form-edit-worker1 {
    width: 80%;
    height: 150px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    margin: auto;
    text-align: center;
    padding: 0 25px;
}

.image-button-edit {
    position: relative;
    z-index: 15;
    margin-top: 30px;
    width: 200px;
    height: 36px;
    border: none;
    background-size: cover;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer; 
}