.block-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.form-new1 {
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 20px;
    position: relative;
    z-index: 6;
}

.form-edit-worker1 {
    width: 100%;
    height: 172px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    margin: auto;
    text-align: center;
    /* padding: 0 25px; */
}

.image-button-edit {
    position: relative;
    z-index: 15;
    margin-top: 50px;
    width: 225px;
    height: 40px;
    border: none;
    background-size: cover;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer; 
}

.fon-style-white{
    margin: auto;
    z-index: 20;
    height: 400px;
    object-fit: fill;
    width: 100%;
    opacity: 0.8;
    position: relative;
  }