.block-buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.status_el{
    padding-left: 25px;
}

.project-list {
    margin-top: 75px;
    /* margin-left: 0px;
    margin-right: 25px; */
    z-index: 2;
    position: relative;
}