.block-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    /* background-color: #161616; */
}

.status_el{
    padding-left: 25px;
}

.project-list {
    margin-top: 125px;
    /* margin-left: 0px;
    margin-right: 25px; */
    z-index: 2;
    position: relative;
}