.block-buttons-contact {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: fixed;
    bottom: 30px;
    margin-left: 40%;
}

.form-contact {
    position: relative;
    z-index: 5;
    height: 250px;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.btns {
    margin: 5%;
    position: relative;
    z-index: 7;
    animation: showBlock 5s linear forwards;
    animation-delay: 1s;
}

.btns2 {
  margin: 5%;
  position: relative;
  z-index: 7;
  animation: showBlock 5s linear forwards;
  animation-delay: 2s;
}

.btns3 {
  margin: 5%;
  position: relative;
  z-index: 7;
  animation: showBlock 5s linear forwards;
  animation-delay: 3s;
}

.btns4 {
  margin: 5%;
  position: relative;
  z-index: 7;
  animation: showBlock 5s linear forwards;
  animation-delay: 4s;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
